h1 {


    font-family: Arial, Helvetica, sans-serif;
    margin: lem;

}
p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: lem;

}
body {

    background-color: antiquewhite;

}

button{

    color: chartreuse;
    background-color: #fcfcfc;
    border-style: hidden;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;


}