/* --- Estilos Generales --- */

body {
    /* Define un contenedor centrado y blanco como en la imagen */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    /* Centra y dimensiona el escudo */
    display: block;
    max-width: 150px;
    height: auto;
    margin: 0 auto 10px;
}

header h1 {
    /*(título principal) */
    color: #cc0000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    }

.titulo {
    /* "Alumno: Sebastian Chacon Vargas"*/
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000080;
    margin-top: 20px;
    margin-bottom: 15px;
}

.notas {
    text-align: left;
    padding-left: 20px;
}

.Notas {
    /* Título "Notas:" */
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lista li {
    /* El texto de la nota es negro */
    color: #000000;
    font-size: 16px;
    margin-bottom: 5px;
}

/* --- Secciones de Botones y Resultados --- */

.seccionBotones {
    text-align: left;
    padding-left: 20px;
    margin-top: 20px;
}

/* Estilo para los títulos de resultado (Promedio, Nota más alta, Aplazo) */
.seccionBotones h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
}

/* Estilo de los botones */
.seccionBotones button {
    /* Estilo de caja con borde negro */
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 0;
    display: inline-block; /* Permite que el span de resultado se ponga al lado */
    width: 200px;
    text-align: center;
    margin-top: 5px;
    margin-right: 15px; /* Espacio entre el botón y el resultado */
}

/* Estilo para el resultado */
.seccionBotones span {
    font-weight: normal; 
    font-size: 18px;
    color: #000000;
}

.seccionBotones button:hover {
    background-color: #f0f0f0;
}